<html>

<head>
  <title>404 Oops! </title>
  <link href="style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-12"></div>
      <div class="col-12">

        <section class="humanoid404">
          <header>
            <h1> 404: Oops! Look like you're lost...</h1>
            <h2> The requested resouce does not exists</h2>
          </header>

          <article>

          </article>

        </section>

    </div>
    <div class="col-12">

        <section class="humanoid404">
          <header>

          </header>

          <article>
               <p>To return home : </p>

               <p>To go back to home page :</p>

               <a class="btn btn-primary" href="#" role="button">Link</a>
               <button class="btn btn-primary pokus" type="submit">Button</button>
          </article>

        </section>

    </div>
  </div>
</div>

















      <div class="mes petits nuages">


        <div class="hot">

        	<span class="sun"></span>
        	<span class="sunx"></span>
        </div>
        <div class="cloudy">
        	<span class="cloud"></span>
        	<span class="cloudx"></span>
        </div>
        <div class="stormy">
        	<ul>
        	<li></li>
        	<li></li>
        	<li></li>
        	<li></li>
        	<li></li>
        	<li></li>
        	<li></li>
        	<li></li>
        	</ul>
        	<span class="snowe"></span>
        	<span class="snowex"></span>
        	<span class="stick"></span>
        	<span class="stick2"></span>
        </div>
        <div class="breezy">
        	<ul>

        	<li></li>
        	<li></li>
        	<li></li>
        	<li></li>
        	<li></li>
        	</ul>
        	<span class="cloudr"></span>


        </div>
        <div class="night">
        <span class="moon"></span>
        <span class="spot1"></span>
        <span class="spot2"></span>
        <ul>
        	<li></li>
        	<li></li>
        	<li></li>
        	<li></li>
        	<li></li>
        	</ul>

        </div>

      </div>

</body>

</html>
