* {
  padding:auto;
  margin: auto;
}
.container {
  padding-left:3em;
  padding-right:3em;
  margin: auto;
}
.row.grille {
  padding: 2em;
  margin-top: 3vh;
}
.row.premiere.ligne.grille {
  padding: 2em;
  margin-top: 6vh;
}

.btn.btn-primary.btn-lg.btn-block.login.restream {
  background-color: #74d0e6!important;
  border-color: transparent!important;
}

.btn.btn-primary.btn-lg.btn-block.login.restream span {
  background-color: transparent!important;
  border-color: transparent!important;
}

.btn.btn-primary.btn-lg.btn-block.login.google {
  background-color: #007bff!important;
  border-color: #007bff!important;
}

a, span {
  text-align: left;
}
